<!-- FOOTER -->
<footer class="site-footer">
    <div class="site-footer__top-wrapper">
        <div class="container">
            <div class="site-footer__top">

                <ul class="phone site-footer__phones">
                    <li class="phone__item">
                        <p class="phone__heading">Для Москвы</p>
                        <a class="phone__number" href="tel:874957305080" title="+7 495 730 50 80">+7 495 730 50 80</a>
                    </li>

                    <li class="phone__item">
                        <p class="phone__heading">Звонок по России бесплатный </p>
                        <a class="phone__number" href="tel:88002224844" title="8 800 222 48 44">8 800 222 48 44</a>
                    </li>
                </ul>

                <div class="social site-footer__social">
                    <ul class="social__list">
                        <li class="social__item">
                            <a class="btn--circle social__link social__link--fb" href="#" target="_blank" title="Facebook">
                                <svg class="icon" width="12" height="23">
                                    <use xlink:href="#icon-fb"></use>
                                </svg>
                            </a>
                        </li>

                        <li class="social__item">
                            <a class="btn--circle social__link social__link--vk" href="#" target="_blank" title="Vkontakte">
                                <svg class="icon" width="23" height="14">
                                    <use xlink:href="#icon-vk"></use>
                                </svg>
                            </a>
                        </li>

                        <li class="social__item">
                            <a class="btn--circle social__link social__link--tw" href="#" target="_blank" title="Twitter">
                                <svg class="icon" width="23" height="19">
                                    <use xlink:href="#icon-tw"></use>
                                </svg>
                            </a>
                        </li>

                        <li class="social__item">
                            <a class="btn--circle social__link social__link--inst" href="#" target="_blank" title="Instagramm">
                                <svg class="icon" width="23" height="23">
                                    <use xlink:href="#icon-inst"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="site-footer__bottom">
            <div class="site-footer__text">
                <p class="site-footer__copy">© 2017 Северный ветер. Все пpава защищены.</p>
                <p class="site-footer__offer">Пользуясь сайтом support.nordwindairlines.ru, Вы автоматически принимаете <a
                        class="site-footer__link-offer" href="#" target="_blank" title="Правила">правила</a> передачи и
                    обработки персональных данных.</p>
            </div>

            <div class="logo site-footer__logo">
                <a class="logo__link" href="#" target="_blank">
                    <img src="./assets/img/logo/logo-iata.svg" width="124" height="20" alt="Nordwind">
                </a>
            </div>

        </div>
    </div>
</footer>
<!-- /FOOTER -->
