<!-- HEADER -->
<header class="site-header" id="start">
    <div class="container">
        <div class="site-header__wrapper">
            <div class="logo">
                <a class="logo__link" href="#" target="_blank">
                    <img src="./assets/img/logo/logo-nordwind.svg" width="108" height="48" alt="Nordwind">
                </a>
            </div>

            <div class="nav__wrapper">
                <nav class="nav site-header__nav js-nav">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a class="nav__link" href="#">
                                <span class="nav__text nav__text--long">Правила и сроки рассмотрения обращений</span>
                                <span class="nav__text nav__text--short">Правила рассмотрения обращений</span>

                                <svg class="icon" width="16" height="16">
                                    <use xlink:href="#icon-folder"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="#"><span class="nav__text">Назад на nordwindairlines.ru</span>
                                <svg class="icon" width="16" height="16">
                                    <use xlink:href="#icon-exit"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="site-header__overlay"></div>
            </div>

            <button class="btn btn--burger js-btn-burger"><span></span></button>
        </div>
    </div>
</header>
<!-- /HEADER -->
