<!-- MODALS -->

<div class="modal__wrapper">
    <div class="modal">
        <h2 class="modal__title">Выбрать заявителя из бронирования</h2>

        <div class="applicant">
            <ul class="applicant__list">
                <li class="applicant__item">
                    <div class="applicant__content">
                        <p class="applicant__name">Константинопольский Константин Константинович</p>
                        <div class="applicant__details-wrapper">
                            <div class="applicant__details applicant__details--birthday">
                                <span class="applicant__text">Дата рождения:</span>
                                <span class="applicant__data-info applicant__data-info--birthday">23.12.1992</span>
                            </div>

                            <div class="applicant__details applicant__details--ticket-number">
                                <span class="applicant__text">Билет №:</span>
                                <span class="applicant__data-info applicant__data-info--ticket-number">33 323 32323</span>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn--white applicant__btn" href="#">Выбрать</a>
                </li>

                <li class="applicant__item">
                    <div class="applicant__content">
                        <p class="applicant__name">Петров Петр Петрович</p>
                        <div class="applicant__details-wrapper">
                            <div class="applicant__details applicant__details--birthday">
                                <span class="applicant__text">Дата рождения:</span>
                                <span class="applicant__data-info applicant__data-info--birthday">23.12.1992</span>
                            </div>

                            <div class="applicant__details applicant__details--ticket-number">
                                <span class="applicant__text">Билет №:</span>
                                <span class="applicant__data-info applicant__data-info--ticket-number">33 323 32323</span>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn--white applicant__btn" href="#">Выбрать</a>
                </li>

                <li class="applicant__item">
                    <div class="applicant__content">
                        <p class="applicant__name">Иванова Анна Ивановн</p>
                        <div class="applicant__details-wrapper">
                            <div class="applicant__details applicant__details--birthday">
                                <span class="applicant__text">Дата рождения:</span>
                                <span class="applicant__data-info applicant__data-info--birthday">23.12.1992</span>
                            </div>

                            <div class="applicant__details applicant__details--ticket-number">
                                <span class="applicant__text">Билет №:</span>
                                <span class="applicant__data-info applicant__data-info--ticket-number">33 323 32323</span>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn--white applicant__btn" href="#">Выбрать</a>
                </li>
            </ul>
        </div>

        <button class="btn btn--circle modal__btn-close">
            <svg class="icon" width="24" height="24">
                <use xlink:href="#icon-cross"></use>
            </svg>
        </button>
    </div>
</div>

<!-- /MODALS -->
